<div class="signin-form">
      <mat-card>
        <mat-card-title>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="group"></mat-icon>
          <h3>Cadastro</h3>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="group"></mat-icon>
        </mat-card-title>

        <mat-card-content>
          <button mat-raised-button color="primary" (click)="criarContaPessoal()">Conta Pessoal</button><br><br>
          <button mat-raised-button color="accent" (click)="criarContaEmpresa()">Conta Empresa</button>
        </mat-card-content><br>
        <a href="login" class="btn btn-success" >Voltar</a>
      </mat-card>
  </div>




