mat-card{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: 440px;
    margin: 2rem auto;
    margin-top: 2rem;
    text-align: center;
    background-color: rgb(222, 234, 230);
}


    .signin-form{
        padding: 20px 1rem 25px 30px;
        margin-top: 25px;
    }

    .signin-form mat-card a {
      display: flex;
      align-items: center;
      margin: 10px 10px;
      width: 80px;
      justify-content: right;
    }
