
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <footer>
      <div id="footer_content">
        <div id="footer_contacts">
          <h1>KI-FESTA</h1>
          <p>Siga nossas redes sociais</p>

          <div id="footer_social_media">
            <a href="#" class="footer-link" id="instagram">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" class="footer-link" id="facebook">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="footer-link" id="whatsapp">
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </div>
        </div>

        <ul class="footer-list">
          <li>
            <h3>Home</h3>
          </li>

          <li>
            <a href="#" class="footer-link">Inicio</a>
          </li>

          <li>
            <a href="#" class="footer-link">Anucios</a>
          </li>
          <li>
            <a href="#" class="footer-link">Mais Procurados</a>
          </li>
        </ul>

        <ul class="footer-list">
          <li>
            <h3>Nossos Parceiros</h3>
          </li>

          <li>
            <a href="http://www.kidbeeruta.com.br/" class="footer-link">Kid-Beeruta</a>
          </li>

          <li>
            <a href="https://www.buffetkidmania.com/" class="footer-link">Kid-Mania</a>
          </li>

          <li>
            <a href="https://fazendinhafujimar.com.br/" class="footer-link">Fazendinha-Fujimar</a>
          </li>
        </ul>

        <div id="footer_subcribe">

          <p>Inscreva-se em nossa newsletter</p>

          <div id="input_group">
            <input type="email" id="email" />
            <button>
              <i class="fa-regular fa-envelope"></i>
            </button>
          </div>
        </div>
      </div>
      <div id="footer_copyright">
        ©
        2023 Todos os direitos reservados.
      </div>
    </footer>

