footer{
  max-width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 2rem auto;
  flex-direction:initial;
  position:relative;
  bottom: 15px;
  color: black;
  width: 100vw;
  height: 25%;
  text-align:center;
  line-height: 30px;
  background-image: radial-gradient(circle at 78.58% 50%, #a7b7ff 0, #5389f2 50%, #0061df 100%);
}


footer a, h1{
    display: flex;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 10px 10px 5px 5px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}

footer .copy{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

footer .row{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: row;
}

h4{
    font-size: 20px;
    overflow:hidden;
    position:relative;
    top: 100%;
    padding: 5px 5px;
    margin: 0 auto;
}

footer .row input{
    border-radius: 5px;
    width: 350px;
    border: none;
}

footer .row button{
  border: 10px auto;
  border-radius: 5px;
  width: 350px;
  background-color:  rgb(99, 156, 217);
  border:#5389f2;
  color: white;
  font-weight: bold;
}

footer .row button:hover{
  background-color: rgb(96, 141, 189);
}



@media screen and (max-width: 768px) {

  footer{
    display: block;
      width: 100%;
      margin: 0;
      padding: auto;
      text-align: center;
  }

}
