<div class="signin-form">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="reservaForm" (ngSubmit)="salvarDados()">
        <mat-card-header>
            <mat-card-title>Reserva</mat-card-title>
            <mat-card-subtitle>Complete seu cadastro!</mat-card-subtitle>
        </mat-card-header>

        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Nome:" formControlName="nome" required>
          <mat-error *ngIf="isFieldInvalid('nome')">
              Informe seu nome!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="text" placeholder="Buffet" formControlName="buffet" required>
          <mat-error *ngIf="isFieldInvalid('buffet')">
            Informe o nome do buffet!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="email" placeholder="Endereco:" formControlName="endereco" required>
          <mat-error *ngIf="isFieldInvalid('endereco')">
            Endereço inválido!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Data do Evento</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Horário da Reserva</mat-label>
          <input matInput type="time" placeholder="" #time/>
        </mat-form-field>

        <div class="btn-submit">
          <button mat-raised-button type="submit">Enviar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
