<div class="signin-form">
  <mat-card-content>
    <mat-card>
        <form  [formGroup]="formEmpresa" (ngSubmit)="salvarDados()">
          <mat-card-header>
              <mat-card-title>Cadastre Sua Empresa</mat-card-title>

          </mat-card-header>

          <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="Nome" formControlName="nome" required>
            <mat-error *ngIf="isFieldInvalid('nome')">
                Informe seu nome
            </mat-error>
          </mat-form-field>

            <mat-form-field class="full-width-input">
                <input matInput type="number" placeholder="Telefone:" formControlName="telefone" required>
                <mat-error *ngIf="isFieldInvalid('telefone')">
                  Informe um número, mínimo 8 caracteres.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width-input">
                <input matInput type="text" placeholder="Endereço:" formControlName="endereco" required>
                <mat-error *ngIf="isFieldInvalid('endereco')">
                  Informe um endereço válido.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width-input">
                <label for="date">Data de nascimento:</label>
                <input matInput type="date" placeholder="Data de nascimento"  formControlName="data_nascimento" required>
                <mat-error *ngIf="isFieldInvalid('data_nascimento')">
                  Informe uma data válida.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width-input">
                <input matInput type="number" placeholder="CPF/CNPJ:" formControlName="cpf_cnpj" required>
                <mat-error *ngIf="isFieldInvalid('cpf_cnpj')">
                  Números inválidos!
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width-input">
                <input matInput type="email" placeholder="Email:" formControlName="email" required>
                <mat-error *ngIf="isFieldInvalid('email')">
                  Informe um email válido.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Senha:" formControlName="senha" required>
                <mat-error *ngIf="isFieldInvalid('senha')">
                  Informe uma senha, mínimo 6 caracteres.
                </mat-error>
              </mat-form-field>

              <div class="btn-submit">
                <button mat-raised-button type="submit">Enviar</button>
              </div>
        </form>
    </mat-card>
  </mat-card-content>
</div>
