
<div class="signin-form">
  <mat-card-content>
    <mat-card>
        <form  [formGroup]="formProduct" (ngSubmit)="salvarDados()">
          <mat-card-header>
              <mat-card-title>Insira seu Anuncio!</mat-card-title>
          </mat-card-header><br><br>

          <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="Titulo do anúncio" formControlName="titulo" required>
            <mat-error *ngIf="isFieldInvalid('titulo')">
                Informe um titulo para o anuncio!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="Descrição:" formControlName="descricao"  required>
            <mat-error *ngIf="isFieldInvalid('descricao')">
              Coloque a descrição para o anuncio.
            </mat-error>
          </mat-form-field>

            <mat-form-field class="full-width-input">
                <input matInput type="number" placeholder="Valor:" formControlName="valor" required>
                <mat-error *ngIf="isFieldInvalid('valor')">
                  Informe o preço do anuncio.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width-input">
                <input matInput type="number" placeholder="Telefone:" formControlName="telefone"  required>
                <mat-error *ngIf="isFieldInvalid('telefone')">
                  Informe o seu contato.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width-input">
                <input matInput type="text" placeholder="Insira uma imagem:" formControlName="imgUrl" required>
                <mat-error *ngIf="isFieldInvalid('imgUrl')">
                  Insira uma imagem!
                </mat-error>
              </mat-form-field>

              <div class="btn-submit">
                <button mat-raised-button type="submit">Enviar</button>
              </div>
              <a href="home" class="btn btn-success" >Voltar</a>
        </form>
    </mat-card>
  </mat-card-content>
</div>

