<div class="card">
  <a href="home" class="btn btn-success" >Voltar</a>
  <img
    src="../../../assets/imagens/Ki-Festa.jpeg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h1>Quem Somos</h1>
    <p>
      A plataforma Ki Festa tem como objetivo inovador concentrar diversas
      empresas do seguimento de eventos em nosso site, facilitando a contratação
      de empresas especializadas, ou profissionais qualificados, visando um
      evento inesquecível para o usuário. <br />
      O objeto da plataforma é facilitar a contratação de empresas ou
      profissionais de todo o Brasil em um único lugar. Para os anunciantes na
      plataforma será possível cadastrar empresas de todos os segmentos, como:
      salão de festa; fotografia; buffet; aluguel de brinquedos, mobiliário,
      equipamentos, mesas e cadeiras; decoradores; DJs; cerimonialista,
      lembrancinhas serviço de valets, etc. <br />
      Para os usuários na plataforma será possível realizar buscas avançadas
      para a realização do evento, como localização, data, total de convidados e
      período, com isso facilitando a localização das empresas com base na busca
      realizada.
    </p>
  </div>
</div>
<div class="container mt-5 mt5 ">

    <div class="container">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <br>
                    <img
                        src="../../assets/imagens/missao.png"
                        class="rounded mx-auto d-block"
                        width="210"
                        height="200"
                        alt="200"
                    >
                    <br>
                    <h5 class="card-title text-center"><b>Nossa Missão</b></h5>
                    <p class="card-text fw-lighter ">Nossa missão é trazer para a comodidade dos nossos usuários, todos os prestadores de serviços no ramo de festas. </p>
                </div>
            </div>
            <div class="card">
                <div class="card-bod">
                    <br>
                    <img
                        src="../../assets/imagens/contrato.png"
                        class="rounded mx-auto d-block"
                        width="210"
                        height="215"
                        alt="220"
                    >
                    <br>
                    <h5 class="card-title text-center"><b>Nossa visão</b></h5>
                    <p class="card-text fw-lighter">Foco no empreendedor e no valor agregado de cada serviço, trazendo para nós o que há de melhor nos nossos clientes. </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img
                        src="../../assets/imagens/contato.png"
                        class="rounded mx-auto d-block"
                        width="210"
                        height="222"
                        alt="210"
                    >
                    <br>
                    <h5 class="card-title text-center"><b>Qualidade</b></h5>
                    <p class="card-text fw-lighter">Observar o comportamento dos nossos usuários em relação aos nossos clientes e tomando ações para que o serviço prestado entregue a qualidade que exijimos.</p>
                </div>
            </div>
        </div>
    </div><br>
</div>
