<div class="container">
    <div class="card mb-3">
        <img src="../../assets/imagens/salao1.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <button routerLink="../../anuncio" class="btn btn-sm btn-warning md-2">Voltar Anuncio</button>
            <h3 class="card-title">Espaço Green</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="card text">
                <div class="card-header">
                    <h5>Informações Complementares</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Avaliação</h5>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                    <br>
                    <div class="col-sm-6">
                        <div class="card text ">
                            <div class="card-body">
                                <h4 class="card-title">Detalhes para Contrato</h4>
                                <h6 class="card-text">Dia:</h6>
                                <h6 class="card-text">Total de convidados:</h6>
                                <h6 class="card-text">Opcionais:</h6>
                                <h3 class="card-text">R$</h3>
                                <a href="#" class="btn btn-success">Contratar Evento</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-body-secondary">
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card-group">
        <div class="card">
            <img src="../../assets/imagens/bolo1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Naked Cake</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/imagens/buf2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Buffet</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/imagens/dec1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Decoração</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img src="../../assets/imagens/car1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aluguel de Carros</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/imagens/buf1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mesa de Frios</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/imagens/salao1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Espaço Coberto</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img src="../../assets/imagens/dec8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Espaço Aberto</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/imagens/bolo5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bolos Clásicos</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../assets/imagens/dec7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Decoração</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
