<div class="container">
  <div class="card mb-3">
      <img src="../../assets/imagens/bo1.jpg" class="card-img-top" alt="">
      <div class="card-body">
          <h3 class="card-title">Bolos da Dona Maria</h3>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="card text">
              <div class="card-header">
                  <h5>Informações Complementares</h5>
              </div>
              <div class="card-body">
                  <h5 class="card-title">Avaliação</h5>
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                  <br>
                  <div class="col-sm-6">
                      <div class="card text ">
                          <div class="card-body">
                              <h4 class="card-title">Detalhes para Contrato</h4>
                              <h6 class="card-text">Dia:</h6>
                              <h6 class="card-text">Total de convidados:</h6>
                              <h6 class="card-text">Opcionais:</h6>
                              <h3 class="card-text">R$</h3>
                              <a href="/reservar" class="btn btn-success">Contratar</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-footer text-body-secondary">
                  <br>
              </div>
          </div>
      </div>
  </div>
  <br>
  <div class="card-group">
      <div class="card">
          <img src="../../assets/imagens/bo2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Bolos de Aniverários</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
      </div>
      <div class="card">
          <img src="../../assets/imagens/bo3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Bolos que acompanha velas </h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
      </div>
      <div class="card">
          <img src="../../assets/imagens/bo4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Bolos de Casamento</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
      </div>
  </div>
  <div class="card-group">
      <div class="card">
          <img src="../../assets/imagens/bo5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Bolos Decorados de Casamento</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
      </div>
      <div class="card">
          <img src="../../assets/imagens/bo6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Bolos Decorados de Aniversários</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
      </div>
      <div class="card">
          <img src="../../assets/imagens/bo7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title"> Bolos Simples</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
      </div>
  </div>

  <br>
  <br>
</div>
