
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tcc-primary: mat.define-palette(mat.$indigo-palette);
$tcc-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tcc-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tcc-theme: mat.define-light-theme((
  color: (
    primary: $tcc-primary,
    accent: $tcc-accent,
    warn: $tcc-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tcc-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  background-image: url("../src/assets/imagens/fundo2.jpg");
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

:root{
    --color-neutral-0: #4a33be;
    --color-neutral-10: #5389f2;
    --color-neutral-30: #dfebecbb;
    --color-neutral-40: #f5f5f5;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

main{
  height: 30vh;
  width: 100%;
}

footer {
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    color: var(--color-neutral-40);
}

.footer_link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 10px;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    text-decoration: none;
}

#facebook {
    background-color: #4267b3;
    text-decoration: none;
}

#whatsapp {
    background-color: #25d366;
    text-decoration: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    text-decoration: none;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subcribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subcribe {
    color: black;

}

#input_group {
    display: flex;
    align-items: center;
    background-color: white;

}

#input_group input {
    all: unset;
    padding: 0.75;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (min-width:300px) and  (max-width: 768px) {
    #footer_content {
        max-width: 70%;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 380) and (max-width: 420px) {
    #footer_content {
        max-width: 50%;
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
