.filter-sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;

  .filter-header {
    text-align: center;
  }

  .filter-options {
    margin-top: 20px;

    h3 {
      margin-bottom: 10px;
    }

    input[type="checkbox"],
    input[type="range"] {
      margin-bottom: 10px;
    }
  }
}

.card-list {
  width: 70%; /* Largura dos cards */
  display: flex;
  flex-direction: column; /* Altera a direção dos cards para coluna */
  gap: 10px; /* Espaço entre os cards (opcional) */
}

.card {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
}
.filter-and-cards-container {
  display: flex;
  flex-direction: row; /* Altera a direção dos elementos para linha */
  justify-content: flex-start; /* Alinha à esquerda */
  align-items: flex-start; /* Alinha ao topo */
}

.filter-sidebar {
  width: 30%; /* Defina a largura desejada para a barra lateral de filtro */
  float: left;
}

.card-list {
  width: 100%; /* Largura dos cards */
  display: flex;
  flex-direction: column; /* Altera a direção dos cards para coluna */
  gap: 10px; /* Espaço entre os cards (opcional) */
}

/* Adicione estilos adicionais conforme necessário */

/* Aumenta o tamanho do checkbox */
input[type="checkbox"] {
  transform: scale(
    1.3
  ); /* Ajuste o valor conforme necessário para aumentar ou diminuir o tamanho */
}

/* Aumenta o tamanho do texto associado */
label {
  font-size: 1.3rem; /* Ajuste o valor conforme necessário para aumentar ou diminuir o tamanho da fonte */
  vertical-align: middle; /* Alinha verticalmente o texto com o checkbox */
}
.custom-range {
  width: 100%; /* Define a largura total do range */
}

.range-label {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.range-label span {
  font-size: 17px; /* Tamanho da fonte do texto */
}

.range-line {
  height: 2px; /* Altura da linha */
  background-color: #ccc; /* Cor da linha */
  margin-top: 10px;
}
