<div class="filter-and-cards-container">
  <a href="home" class="btn btn-success" >Voltar</a>
    <div class="filter-sidebar">
        <div class="filter-options">
            <h3>Filtro</h3>
            <br>
            <h4>Cárdapio</h4>
            <label>
                <input type="checkbox">
                Brunch
            </label
      >
            <br>
            <label>
                <input type="checkbox">
                Almoço
            </label
      >
            <br>
            <label>
                <input type="checkbox">
                Coquetel
            </label
      >
            <br>
            <label>
                <input type="checkbox">
                Jantar
            </label
      >
            <br>
            <label>
                <input type="checkbox">
                Churrasco
            </label
      >
            <br>
            <label>
                <input type="checkbox">
                Bolo & Champagne
            </label
      >
            <br>
            <br>
            <div class="range-line"></div>
            <br>
            <h4>Média de Preço</h4>
            <br>
            <input type="range" class="custom-range">
            <div class="range-label">
                <span>R$ 10,00</span>
                <span>R$ 500,00</span>
            </div>
            <br>
            <div class="range-line"></div>
            <br>
            <h4>Média de Avaliação</h4>
            <label>
                <input type="checkbox">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
            </label
      >
            <br>
            <label>
                <input type="checkbox">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
            </label
      >
            <br>
            <label>
                <input type="checkbox">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
            </label
      >
            <br>
            <label>
                <input type="checkbox">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
            </label
      >
            <br>
            <br>
            <div class="d-flex justify-content-center">
                <a href="empresa" class="btn btn-primary right">Filtrar</a>
            </div>
        </div>
    </div>
    <div class="filter-and-cards-container">
        <div class="card-list">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="../../assets/imagens/salao1.jpg"
                            alt="."
                            width="350"
                            height="250"
                            class="img-fluid rounded-start"
                        >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Espaço Green</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary">Last updated 3 mins ago
                                </small
                >
                            </p>
                            <a href="empresa" class="btn btn-primary right">+ Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 1 Conteúdo -->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="../../assets/imagens/dec2.jpg"
                            alt="."
                            width="350"
                            height="250"
                            class="img-fluid rounded-start"
                        >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Espaço Flower</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary">Last updated 3 mins ago
                                </small
                >
                            </p>
                            <a href="empresa" class="btn btn-primary right">+ Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 2 Conteúdo -->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="../../assets/imagens/dec4.jpg"
                            alt="."
                            width="350"
                            height="250"
                            class="img-fluid rounded-start"
                        >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Espaço</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary">Last updated 3 mins ago
                                </small
                >
                            </p>
                            <a href="empresa" class="btn btn-primary right">+ Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card 3 Conteúdo -->
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="../../assets/imagens/dec5.jpg"
                            alt="."
                            width="350"
                            height="250"
                            class="img-fluid rounded-start"
                        >
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Espaço Minimaliste</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary">Last updated 3 mins ago
                                </small
                >
                            </p>
                            <a href="empresa" class="btn btn-primary right">+ Detalhes</a>
                        </div>
                    </div>
                </div>
                <!-- Card 4 Conteúdo -->
            </div>
        </div>
    </div>
</div>
